<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("../../_share/metadata.ejs") %>
    <title>口コミの投稿確認</title>
    <%- include("../../_share/stylesheets.ejs")%>
  </head>
  <body>
    <div class="outerframe">
      <%- include("../../_share/navbar.ejs") %>
      <main class="container">
        <div class="border-bottom my-5">
          <h1>口コミの投稿</h1>
        </div>

        <div>
          <form>
            <input type="hidden" id="shopId" name="shopId" value="<%= shopId %>" />
            <div class="mb-3 row">
              <label for="shopName" class="col-sm-2 col-form-label">店舗</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  readonly
                  class="form-control-plaintext"
                  id="shopName"
                  name="shopName"
                  value="<%= shopName %>" />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label" for="visit">訪問日</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  readonly
                  class="form-control-plaintext"
                  id="visit"
                  name="visit"
                  value="<%= review.visit ? moment(review.visit).format('YYYY/MM/DD') : '' %>" />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label" for="score">評価</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  readonly
                  class="form-control-plaintext"
                  id="score"
                  name="score"
                  value="<%= review.score %>" />
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label" for="description">本文</label>
              <div class="col-sm-10">
                <textarea readonly class="form-control-plaintext" id="description" name="description" rows="5">
<%= review.description %></textarea
                >
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                <button
                  type="submit"
                  class="btn btn-secondary me-2"
                  data-method="GET"
                  data-action="/account/reviews/regist/<%= shopId %>">
                  修正
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-method="POST"
                  data-action="/account/reviews/regist/execute">
                  登録
                </button>
              </div>
            </div>
          </form>
        </div>
      </main>
      <%- include("../../_share/footer.ejs") %>
    </div>
    <%- include("../../_share/javascripts.ejs") %>
    <script type="text/javascript" src="/public/javascripts/regist.js"></script>
  </body>
</html>
